h1 {
    text-align: center;
}
input {
    width: 210px;
    margin-bottom: 10px;
    
}

#inputOut {
    float: left;
    display: inline-table;
}

#deleteButtons {
    float: right;
}



#inputButton,#outputAmount {
    margin: 10px;
    float: right;
}