h1 {
    text-align: center;
}
input {
    width: 210px;
    margin-bottom: 10px;
    
}

/* .btn-group {

    display: inline;
} */

#inputButton,#outputAmount {
    margin: 10px;
    float: right;
}